/* Box Styles */

.LandingBox {
    background-image: url("../images/old_paper.png");
    background-size: cover;
    opacity: 0.9;
    height: 35vw;
    width: 60%;
    border: 5px solid black;
    border-radius: 5%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: Passero One;
}

.ProfileBox {
    background-image: url("../images/old_paper.png");
    background-size: cover;
    height: 70%;
    width: 80%;
    border: 3px solid black;
    border-radius: 25px;
    margin-top: 3%;
    font-family: Oswald;
}

.AboutBox {
    background-image: url("../images/old_paper.png");
    background-size: cover;
    height: 70%;
    width: 80%;
    border: 3px solid black;
    border-radius: 50px;
    margin: auto;
    font-family: Passero One;
}

@media (max-width: 1366px) and (max-height: 769px) {
    .LoginBox {
        height: 90%;
        width: 70%;
        margin-top: 2%;
    }
}

.LoginBox {
    background-image: url("../images/old_paper.png");
    background-size: cover;
    height: 55%;
    width: 60%;
    border: 3px solid black;
    border-radius: 4%;
    margin-top: 0;
    font-family: Passero One;
}

.TavernBox {
    background-image: url("../images/old_paper.png");
    background-size: cover;
    height: 100%;
    width: 20%;
    border: 3px solid black;
    border-radius: 5%;
    margin-left: 2%;
    margin-top: 5%;
    font-family: Oswald;
}

@media (max-width: 1366px) and (max-height: 769px) {
    .TavernBox {
        margin-top: 8%;
    }
}


.NewSBox {
    background-image: url("../images/registerBox.jpg");
    background-size: cover;
    width: 100%;
    border: 5px solid black;
    border-radius: 5%;
    margin-top: 3%;
    padding: 10% 5% 10% 5%;
}

.ReturnSBox {
    background-image: url("../images/loginBox.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border: 5px solid black;
    border-radius: 5%;
    margin-top: 3%;
    padding: 10% 5% 10% 5%;
}

.ProfileName {
    background-color: #ba9d5e;
    border: 2px solid black;
    border-radius: 0 40px 40px 0;
    width: 100%;
    height: 1%;
    font-size: 2vw;
    margin-top: 5%;
    margin-left: -15%;
}

.ProfileTitle {
    background-color: #897E7E;
    border: 2px solid black;
    border-radius: 0 40px 40px 0;
    width: 65%;
    height: 1%;
    font-size: 1.5vw;
    margin-top: -13%;
    margin-left: -10%;
}

.ProfileBtn {
    margin-left: 30%;
    font-size: 1vw;
    width: 100%;
    border-radius: 25px 0 0 25px;
    border: 2px solid black;
}

.ProfileNote {
    width: 80%;
    margin-top: 16%;
    margin-right: 2%;
    background-color: #c2a870;
}