/* Challenges Styles */


.web-challenges-image {
    width: 100%;
    margin-top: 25%;
}

.web-challenges-name {
    font-size: 1.5vw;
    margin-top: 1%;
    margin-bottom: 2%;
}

.web-challenges-hr-1 {
    margin: auto;
    width: 90%;
}

.web-challenges-hr-2 {
    margin: auto;
    width: 90%;
    margin-bottom: 2%;
}

.web-challenges-hr-special {
    margin: auto;
    width: 95%;
    margin-bottom: 2%;
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 0.75), rgba(255,255,255, 0));
}

.web-challenges-desc {
    font-size: 1vw;
    opacity: 0.6;
}

.web-challenges-div {
    margin: 0 10%;
    margin-bottom: 2%;
}

.web-challenges-submission-div {
    margin-top: 5%;
    margin-left: 12%;
}

.web-challenges-submission-title {
    font-size: 1.25vw;
    margin: -2% 40% 2% 40%;
}

.web-challenges-submission-card {
    margin: 0 30%;
}

.web-challenges-submission-image {
    padding-top: 5%;
    padding-left: 10%;
}

.web-challenges-submission-buttons {
    margin: 15% 20% 0 20%;
    font-size: 1.5vw;
}

.web-challenges-submission-proof {
    width: 80%;
    margin-left: 10%;
}

.web-challenges-submission-note {
    width: 80%;
    resize: none;
    height: 14rem;
    padding-left: 2%;
}

.web-challenges-submission-note-count {
    width: 10%;
    margin-left: 45%;
}

.web-challenges-search-text {
    font-size: 2vw;
    vertical-align: middle;
}

.web-challenges-search {
    width: 50%;
    max-width: 70%;
    margin-top: 0.5%;
    font-size: 1.5vw;
}

.web-challenges-add-div {
    width: 95%;
    margin: auto;
}

.web-challenges-add-title {
    margin-top: -4%;
    font-size: 5vw;
}

.web-challenges-add-form {
    font-size: 1.5vw;
    margin-top: -2%;
}

.web-challenges-add-back {
    margin-left: 5%;
    text-decoration: none;
}