@import "navigation.css";
@import "challenges.css";
@import "brands.css";
@import "spacing.css";
@import "boxes.css";
@import "backgrounds.css";
@import "animations.css";
@import "features.css";
@import "profile.css";




/* ------------------------------ */


/* Help Button Styles */

.web-help-button {
    font-size: 2.5vw;
    border-radius: 50%;
    padding: 0;
    text-decoration: none;
    margin-bottom: 2%;
    margin-right: 2%;
    outline: none;
    position: fixed;
}

.web-help-github {
    font-size: 2.5vw;
    text-decoration: none;
    margin-bottom: 2%;
    margin-left: 2%;
    outline: none;
    position: fixed;
}



/* ------------------------------ */


/* Donation Styles */

.web-donor-hr {
    width: 90%;
    margin: auto;
}

.web-donate-button {
    margin-top: 2%;
    font-size: 3vw;
}

.DonCard {
    background-color: rgba(255,255,255,0.9);
}

.DonRound {
    border-radius: 32px 32px 0 0;
    margin-top: -1%;
    padding: 32px 8px;
}



/* ------------------------------ */


/* Landing Styles */


.web-landing-button {
    z-index: 10;
    margin-top: -10vh;
    font-size: 1.5vw;
}

.web-landing-image {
    position: absolute;
    right: 5vw;
    bottom: 0.000000005vw;
}

@media screen and (max-height: 768px) {
    .web-landing-button {
        margin-top: -9vh;
    }
}



/* ------------------------------ */


/* Login Styles */


p.web-login-title {
    font-size: 2vw;
    margin-top: 0;
}

.web-login-register-button {
    margin-top: 5%;
    width: 80%;
    margin-left: 5%;
}

.web-login-login-button {
    margin-top: 27%; 
    margin-bottom: 0;
    width: 80%;
    margin-left: 6%;
}

@media screen and (max-height: 768px) {
    .web-login-login-button {
        margin-top: 35%; 
    }
}



/* ------------------------------ */


/* Admin Styles */


.web-admin-buttons {
    margin-top: 2%;
    font-size: 1.5vw;
}

.web-admin-types {
    margin-top: 5%;
    font-size: 1.75vw;
}

.web-admin-title {
    margin-top: -2%;
    font-size: 2vw;
}

@media screen and (max-height: 768px) {
    .web-admin-title {
        margin-top: 2%;
    }
}




/* ------------------------------ */


/* About Us Styles */

.web-about-title {
    font-size: 1.25vw;
    margin-bottom: 4%;
}

.web-about-card {
    padding: 0;
    width: 70%;
    margin: auto;
    border-radius: 100px;
    position: relative;
}

.web-about-image {
    border-radius: 1000px;
    width: 90%;
    margin-left: -12%;
    border: 1px solid black;
}

.web-about-desc {
    font-size: 0.75vw;
    margin-top: 5%;
}




/* ------------------------------ */


/* Tavern Styles */


.web-tavern-box-button {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.web-tavern-hr {
    border: 2px solid black;
}



/* ------------------------------ */


/* Custom Fonts */

.Oswald {
   font-family: "Oswald";
}

.Sedgwick {
   font-family: "Sedgwick Ave Display";
}

.PasseroOne {
    font-family: "Passero One";
}















.web-jumbo {
    font-size: 96px;
}

.web-wip-hr {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.text-deco-none {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.web-display-leftmiddle {
        position: absolute;
        left: 10%;
        right: 2%;
        top: 5%;
}

@media only screen and (max-height: 768px) {

    .web-search-bar {
        margin-top: 0;
    }

}

.select-noarrow {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.fa-stack[data-count]:after{
  position:absolute;
  right:10%;
  top:5%;
  content: attr(data-count);
  font-size:0.5vw;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}	