@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);
@import url('https://fonts.googleapis.com/css?family=Nova+Flat');
@import url('https://fonts.googleapis.com/css?family=Coiny');



*:focus {
  outline: none;
}


.back-button {
    margin-top: 100%;
    cursor: pointer;
}



/* BRANDS */

.brand-text-violet {
    color: #6B5B95;
}

.brand-violet {
    background-color: #6B5B95;
}

.brand-text-amber {
    color: #FE840E;
}

.brand-amber {
    background-color: #FE840E;
    border: 0;
}

.brand-text-dark-red {
    color: #9E1030;
}

.brand-dark-red {
    background-color: #9E1030;
}

.brand-text-blue {
    color: #00539C;
}

.brand-blue {
    background-color: #00539C;
}


.brands-wall {
    position: fixed;
    right: 3%;
    top: 25%;
    z-index: 20;
    text-align: center;
    display: inline-block;
}

.brands-title {
    font-size: 1vw;
    color: #343148;
    border: 1px solid #423e5b;
    padding: 0.5em;
    border-radius: 10px;
}

.brand-circle {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    display: block;
    margin-bottom: 1vh;
    cursor: pointer;
    text-align: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 0 0 2px rgba(0, 0, 0, 0.25);
}





/* AVATAR */

.avatar-wall {
    position: fixed;
    left: 3%;
    top: 25%;
    z-index: 20;
    text-align: center;
}

.avatar-title-web {
    font-size: 1vw;
    color: #4e3cc3;
    border: 1px solid slateblue;
    padding: 0.5em;
    border-radius: 10px;
}

.avatar-title-design {
    font-size: 1vw;
    color: #ffcc00;
    border: 1px solid #ffcc00;
    padding: 0.5em;
    border-radius: 10px;
    margin-top: 50%;
}

.avatar {
    border-radius: 50%;
    width: 4vw;
    cursor: pointer;
}

.avatar-small-r {
    border-radius: 50%;
    width: 1.7vw;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    right: 2%;
}

.avatar-small-l {
    border-radius: 50%;
    width: 1.7vw;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 4%;
}

.r-first {
   right: 12%;
}

.r-second {
   right: 2%;
}





body {
    font-family: 'Raleway', sans-serif;
    color: #333;
    background-color: #f2f2f2;
    margin-top: 5%;
    padding: 0;
}

.divider {
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#f2f2f2));
}

header h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    font-size: 1.75vw;
}

header p {
    text-align: center;
    margin-bottom: 0;
    font-size: 1vw;
}

.hexa {
    border: 0px;
    float: left;
    text-align: center;
    height: 35px;
    width: 60px;
    font-size: 1.1vw;
    background: #f0f0f0;
    color: #3c3c3c;
    position: relative;
    margin-top: 15px;
}






/* HEXA SIZE */

.h-small {
    transform: scale(0.8);
}

.h-big {
    transform: scale(1.2);
}



/* CURRENT VERSION */

span#current {
    border: 2px solid mediumseagreen;
    cursor: default;
}






    .hexa:before {
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        border-bottom: 15px solid #f0f0f0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        top: -15px;
    }

    .hexa:after {
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 15px solid #f0f0f0;
        bottom: -15px;
    }

.timeline {
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
}

    .timeline:before {
        position: absolute;
        left: 50%;
        top: -1%;
        content: ' ';
        display: block;
        width: 2px;
        height: 100%;
        margin-left: -1px;
        background: rgb(213,213,213);
        background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
        background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
        background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
        background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
        background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
        z-index: 5;
    }

    .timeline li {
        padding: 2em 0;
    }

    .timeline .hexa {
        width: 16px;
        height: 10px;
        position: absolute;
        background-color: #267191;
        z-index: 5;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: -30px;
        margin-top: 0;
    }

        .timeline .hexa:before {
            border-bottom: 4px solid #267191;
            border-left-width: 8px;
            border-right-width: 8px;
            top: -4px;
        }

        .timeline .hexa:after {
            border-left-width: 8px;
            border-right-width: 8px;
            border-top: 4px solid #267191;
            bottom: -4px;
        }

.direction-l,
.direction-r {
    float: none;
    width: 100%;
    text-align: center;
}

.flag-wrapper {
    text-align: center;
    position: relative;
    font-family: 'Coiny';
}

.flag {
    position: relative;
    display: inline;
    background: rgb(255,255,255);
    font-weight: 600;
    font-size: 1vw;
    z-index: 15;
    padding: 8px 10px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.direction-l .flag:after,
.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255,255,255);
    border-width: 8px;
    pointer-events: none;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
    line-height: 1em;
    vertical-align: middle;
    color: #fff;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.time {
    background: #267191;
    display: inline-block;
    padding: 1em;
    font-size: 	0.85vw;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(254,254,254);
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.30);
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.30);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.30);
    z-index: 15;
    width: 18vw;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.desc-update {
    font-family: "Nova Flat";
    font-size: 0.75vw;
    color: #626567;
}

.desc-update-list {
    font-size: 0.75vw;
    margin-right: 5%;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15;
}

@media(min-width: 768px) {
    .timeline {
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
    }

        .timeline li:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .timeline .hexa {
            left: -28px;
            right: auto;
            top: 8px;
        }

        .timeline .direction-l .hexa {
            left: auto;
            right: -28px;
        }

    .direction-l {
        position: relative;
        width: 310px;
        float: left;
        text-align: right;
    }

    .direction-r {
        position: relative;
        width: 310px;
        float: right;
        text-align: left;
    }

    .flag-wrapper {
        display: inline-block;
    }



/* FLAG SIZE */

    .flag-big {
        font-size: 1.2vw;
    }

    .flag-small {
        font-size: 0.9vw;
     }




    .direction-l .flag:after {
        left: auto;
        right: -16px;
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-left-color: rgb(254,254,254);
        border-width: 8px;
    }

    .direction-r .flag:after {
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-right-color: rgb(254,254,254);
        border-width: 8px;
        left: -8px;
    }

    .time-wrapper {
        display: inline;
        vertical-align: middle;
        margin: 0;
    }

    .direction-l .time-wrapper {
        float: left;
    }

    .direction-r .time-wrapper {
        float: right;
    }

    .time {
        padding: 5px 10px;
    }

    .direction-r .desc {
        margin: 1em 0 0 0;
    }

    .direction-l .desc {
        margin: 1em 0 0 0;
    }
}

@media(min-width: 992px) {
    .timeline {
        width: 800px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .direction-l {
        position: relative;
        width: 380px;
        float: left;
        text-align: right;
    }

    .direction-r {
        position: relative;
        width: 380px;
        float: right;
        text-align: left;
    }
}












.delay-3p5s {
    animation-delay: 3.5s;
}

.delay-4p5s {
    animation-delay: 4.5s;
}

.delay-5p5s {
    animation-delay: 5.5s;
}



.animation-avatar-title-1 {
    animation: animation-avatar 1500ms linear both;
    animation-delay: 500ms;
}

.animation-avatar-title-2 {
    animation: animation-avatar 1500ms linear both;
    animation-delay: 1.5s;
}

.animation-avatar-1 {
  animation: animation-avatar 1500ms linear both;
  animation-delay: 1s;
}

.animation-avatar-2 {
  animation: animation-avatar 1500ms linear both;
  animation-delay: 2s;
}

/* Generated with Bounce.js. Edit at https://goo.gl/bkOekC */

@keyframes animation-avatar { 
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
  1.3% { transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1); }
  2.55% { transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1); }
  4.1% { transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1); }
  5.71% { transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1); }
  8.11% { transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1); }
  8.81% { transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1); }
  11.96% { transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1); }
  12.11% { transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1); }
  15.07% { transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1); }
  16.12% { transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1); }
  27.23% { transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1); }
  27.58% { transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1); }
  38.34% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1); }
  40.09% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1); }
  50% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1); }
  60.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1); }
  82.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}